/* DOES THIS WORK FOR HI RESOLUTION SCREENS??? */
@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
    background-color: #FEB342;
    color: white;
    height: 100%;
    font-family: Raleway;
    margin: 0;
}
body>div {
    padding: 0% 10%;
}
.background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1
}
.logo {
    /* height and width scaling unknown */
    max-height: 12vh;
    position: fixed;
    top: 0;
    left: 2.5%;
}
.spacer {
    /* Arbitrary Value */
    height: 0vw;
}
.team {
    font-size: 5vh;
}
.team>div {
    padding-bottom: 3vh;
}
.team>div>img {
    /* Very arbitrary */
    display: block;
    max-width: auto;
    max-height: auto;
    width: 75%;
    height: auto;
    border-radius: 50%;
    padding: 1vh;
}
.team>div>p {
    font-size: 3vh;
}
.faq {
    font-size: 5vh;
}
.faq>div {
    padding-bottom: 5vh;
}
.faq>div>p {
    font-size: 3vh;
}
.silver_sponsor   {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}
.bronze_sponsor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}
.silver_sponsor:hover {
    transform: scale(1.1);
    z-index: -1;
}
.bronze_sponsor:hover {
    transform: scale(1.1);
    z-index: -1;
}
table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
    text-align: left;
    font-size: 2vh
}
td  {
    padding: 1vw;
}
.table_heading  {
    border-bottom: 1px solid white;
}
nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 12vh;
    width: 100%;
}
nav>img {
    display: none;
}
footer {
    display: none;
    background-color: white;
    color: #F57F0D;
    position: fixed;
    bottom: 0;
    height: 14vh;
    width: 100%;
}
/* These dimensions cut off mail for 18:9 */
footer>a {
    display: block;
    float: right;
    margin: 2vh 3.4vw;
}
footer>a>img {
    height: 10vh;
    width: auto;
}
h1 {
    margin-top: 15vh;
    font-size: 15vw;
    text-align: center;
}
ul {
    display: none;
    list-style-type: none;
    position: fixed;
    /* Arbitrary value */
    top: .1vh;
}
li {
    float: left;
}
a {
    color: white;
}
li a {
    border: 1px solid transparent;
    color: white;
    display: block;
    font-size: 2vh;
    /* Temporary padding values */
    padding: 1.5vh 1vw;
    text-decoration: none;
}
li a:hover {
    border: 1px solid white;
    border-radius: 2vh;
    transition: .5s;
}